<article class="{{replace}}-container <%= {{replace}}.status %>">
    <h3 class="{{replace}}-title"><%= {{replace}}.title %> <a class="edit-btn" href="/{{replace}}s/<%= {{replace}}.slug %>/edit"> Edit</a></h3>
</article>